{% extends "base.html" %}

{% block title %}About - VitalSign{% endblock %}

{% block content %}

<div class="container">

    <div class="page-header">

        <h2>
            About VitalSign
        </h2>

        <p>
            Healthcare Readmission Prediction System
        </p>

        <div class="red-line"></div>

    </div>


    <div class="card">

        <h3>
            What is VitalSign?
        </h3>

        <br>

        <p>

            VitalSign is a machine learning-based
            healthcare prediction system designed
            to analyze diabetic patient information
            and predict hospital readmission risk.

        </p>

        <br>

        <p>

            The system uses patient encounter
            information, medication details,
            laboratory procedures, diagnoses and
            other healthcare attributes.

        </p>

        <br>

        <p>

            The primary machine learning target
            is the patient's readmission status.

        </p>

    </div>

</div>

{% endblock %}